 <div class="col-lg-10 offset-lg-1 px-0 col-12">
		 <div class="media-block">
			 <div class="media-block__asset"><img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-pak-mockup.png" alt=""></div>
			 <div class="media-block__info">
				 <p> E-adrese iedzīvotājiem un uzņēmējiem ļauj aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā E-adresē. </p>
				 <p>Aktivizējot e-adresi, lietotājs saņems visas tās ziņas no valsts un pašvaldību iestādēm, kuras agrāk tika sūtītas pa pastu uz deklarēto adresi.</p>
				 <div class="media-block__info__button">
					 <div class="info__button__label">Sazinieties izmantojot e-adresi:</div> 
					  <a class="btn btn-danger btn-none btn-rounded btn-bold " href="https://lvp-dev-vraa.abcsoftware.lv/KDV/Mailbox/">
                <span tabindex="-1">
                    <span class="">Mana sarakste</span>
                </span>
            </a>		 
				 </div>
			 </div>
		 </div>
		 <div class="mt-5 pt-4">
			 <ul class="accordion js--accordion">
				 <li class="accordion__control"> <button class="btn btn-white js--toggle-all"><i class="ic-expand"></i></button> </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>1.</span></div>
						 <div class="accordion__item__label">Kas ir e-adrese?</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">
							 <div class="video ">
								 <div class="row">
									 <div class="col-lg-6 col-12">
										 <div class="video__frame">
											 <div class="video--mask js--video-mask" style="background-image: url(https://img.youtube.com/vi/9LP38BoYZlY/maxresdefault.jpg)">
												 <div></div>
											 </div>
											 <div class="video__frame__yt">
												 <div class=""> <iframe frameborder="0" allowfullscreen="1" class="js--video-iframe" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="358" height="202" src="https://www.youtube.com/embed/9LP38BoYZlY?widget_referrer=http%3A%2F%2Freact-storybook.cssdev.lv%2F%3Fpath%3D%2Fstory%2Fcomponents-accordion--accordion&amp;enablejsapi=1&amp;origin=http%3A%2F%2Freact-storybook.cssdev.lv&amp;widgetid=7" id="widget8"></iframe> </div>
											 </div>
										 </div>
									 </div>
								 </div>
							 </div>
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="https://viss.gov.lv/-/media/Files/VRAA/Dokumentacija/Vadlinijas/e-adrese/Dokumentacija_iestadem/E_adreses_izmant_vadlinijas_v2_1405.ashx" class="link-file">Lejupielādēt pdf</a><br> <a href="https://www.w3schools.com/images/myw3schoolsimage.jpg" class="link-file" download="custom_picture.jpg">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="https://lvp-dev-vraa.abcsoftware.lv/KDV/Notifications/" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>2.</span></div>
						 <div class="accordion__item__label">Kas izmanto e-adresi?</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">			
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="#" class="link-file">Lejupielādēt pdf</a><br> <a href="#" class="link-file">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="#" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>3.</span></div>
						 <div class="accordion__item__label">Kā izveidot un piekļūt manai e-adresei?</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="#" class="link-file">Lejupielādēt pdf</a><br> <a href="#" class="link-file">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="#" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>4.</span></div>
						 <div class="accordion__item__label">Pilnvarot citu personu piekļūt manai e-adresei</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="#" class="link-file">Lejupielādēt pdf</a><br> <a href="#" class="link-file">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="#" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>5.</span></div>
						 <div class="accordion__item__label">E-adreses ieguvumi</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="#" class="link-file">Lejupielādēt pdf</a><br> <a href="#" class="link-file">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="#" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>6.</span></div>
						 <div class="accordion__item__label">E-adreses informatīvie materiāli</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="#" class="link-file">Lejupielādēt pdf</a><br> <a href="#" class="link-file">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="#" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
				 <li class="accordion__item ">
					 <div class="accordion__item__header">
						 <div class="accordion__item__value"><span>7.</span></div>
						 <div class="accordion__item__label">Kas ir izstrādājis E-adresi?</div>
						 <div class="accordion__item__control"><i class="ic-arrow"></i></div>
					 </div>
					 <div class="accordion__item__body" style="max-height: 0px;">
						 <div class="accordion__item__body__inner">
							 <div>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību iestādēm turpmāk veikt elektroniski un vienuviet – savā e-adresē, kā arī vienota saziņas platforma visām valsts iestādēm.<br><br>E-adrese ir vienota saziņas platforma, kuru var pielīdzināt jau ierastajai internetbankai – slēgtā vidē, valsts pārvaldes pakalpojumu portālā Latvija.lv ikvienam e-adreses lietotājam ir drošs konts, kas nodrošina oficiālo ziņojumu no valsts iestādēm saņemšanu un glabāšanu Tāpat e‑adrese sniedz iespēju iedzīvotājam un uzņēmējam iespēju nosūtīt ziņu ikvienai valsts un pašvaldību iestādei, kuru skaits pārsniedz divus ar pusi tūkstošus. <br><br> Kaut kādi bullet pointi: </p>
								 <ul class="pl-5 font-size-14 mt-2">
									 <li class="font-weight-medium">Lūgumu atjaunot preču zīmi</li>
									 <li class="font-weight-medium">Preču zīmes, kura jāatjauno, reģistrācijas Nr.</li>
									 <li class="font-weight-medium">Ziņas, kas ļauj nepārprotami noteikt pieteicēju</li>
									 <li class="font-weight-medium">To preču un pakalpojumu sarakstu, kuriem pieprasīta preču zīmes reģistrācijas atjaunošana.</li>
								 </ul>
								 <p class="mt-4 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="d-flex flex-column flex-lg-row align-items-lg-end align-items-start"> <img src="https://eservices-test.vraa.gov.lv/EservicePlatform.Assets/v2.1.0/Global/images/assets/e-adrese.png" style="float: left;"> <span class="pl-4 mt-4"> <a href="#" class="link-file">Lejupielādēt pdf</a><br> <a href="#" class="link-file">Lejupielādēt png</a> </span> </p>
								 <p class="mt-5 font-weight-light"> Elektroniskā adrese jeb e-adrese iedzīvotājiem un uzņēmējiem ļauj ar vienu pogas klikšķi aktivizēt iespēju visu saziņu ar valsts un pašvaldību. </p>
								 <p class="mt-4"> <a href="#" class="link-arrow">Saite uz kādu citu resursu</a> </p>
							 </div>
						 </div>
					 </div>
				 </li>
			 </ul>
		 </div>
	 </div>
 </div>

<script>
	window.onload = function() {
      HTMLSDK.createAccordion(document.querySelectorAll('.js--accordion'), {
        accordionItemSelector : '.accordion__item',
        toggleAll: true
      });
	  HTMLSDK.createVideo(document.querySelectorAll('.video'));
    };
</script>
