<div class="container">
    <div class="page-margin pt-3">
        <div class="service-block">
            <div class="container px-0">
                <div class="service-block__lists">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            <div class="service-block__list">
                                <div class="service-block__list__label">Title</div>
                                <ul>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLECOMPLEXUIREACT-V1-0">complex</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EP186-V1-0">Item 1</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 1</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="service-block__list">
                                <div class="service-block__list__label">Title</div>
                                <ul>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 1</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 1</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 1</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="service-block__list">
                                <div class="service-block__list__label">Title 2</div>
                                <ul>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 2</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 2</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 2</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="service-block__list">
                                <div class="service-block__list__label">Title 2</div>
                                <ul>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 2</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 2</a>
                                    </li>
                                    <li>
                                        <a class="open-modal-link" href="#"
                                            data-urn="URN:IVIS:100001:EP-EXAMPLEDELEGATIONREACT-V1-0">Item 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay">
    <dialog class="modal js--modal border-0" style="display: none;" data-modal-id="service-modal">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-8 col-12">
                    <div class="position-relative modal__container js--modal-container">
                        <div class="modal__header justify-content-center">
                            <div class="modal__header__close js--close-button" tabindex="0" aria-label="Close Modal"
                                role="button"><i class="ic-close-black"></i></div>
                        </div>
                        <div id="modal-body" class="p-3 d-flex flex-column" aria-live="polite"
                            style="min-height: 364px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</div>

<script>
    window.onload = function() {
        const baseUrl = "https://eservices-dev-vraa.abcsoftware.lv/EservicePlatform.ContextApi/api/v1/configuration/eservice";

        const modalToggleButtons = document.querySelectorAll(".open-modal-link");

        const [modal] = HTMLSDK.createModal(document.querySelectorAll('.js--modal'), {
            closeOnBackdropClick: true,
        });

        const getData = (urn) => {
            const modalBody = modal.querySelector("#modal-body");

            modalBody.innerHTML = `<div class="loader js--loader" role="alert" aria-label="Loading data">
                <i class="ic-loader"></i>
            </div>`;

            modal.showModal();

            fetch(`${baseUrl}/${urn}`, {
                headers: {
                    'x-tabId': 'cfa1b653-e036-43f9-bab3-e43303f7690c'
                }
            }).then((response) => {
                return response.json();
            }).then((data) => {
                const { title, status, url, about } = data;

                if (title && status === 400) {
                    modalBody.innerHTML = `<p>${title}</p>`
                } else if (url) {
                    const aboutLv = about ? about.find((aboutEl) => aboutEl.languageCode === "en") : null;

                    modalBody.innerHTML = `
                        <div class="content__header no-border p-0 pt-2">
                            <div class="d-flex">
                                <div class="content__header__body">
                                    <h2>Rules</h2>
                                    <p class="text-gray ">${aboutLv ? aboutLv.text : ""}</p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-auto mx-auto mb-3">
                            <a class="btn btn-danger btn-bold btn-rounded btn-md" href="${url}eservice/start">
                            <span tabindex="-1">
                                <span>Start service</span>
                            </span>
                            </a>
                        </div>`;
                }


            }).catch((err) => {});
        }

        modalToggleButtons.forEach(btn => {

            btn.addEventListener("click", (e) => {
                e.preventDefault();
                getData(btn.dataset.urn);
            });

            btn.addEventListener("keydown", (e) => {
                if (e.key === "Enter" || e.key === " ") {
                    e.preventDefault();
                    getData(btn.dataset.urn);
                }
            });
        });
    };
</script>